.painting {
  height: 40vh;
}

.painting:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  transform: scale(1.05);
  transition: .5s;
}

.painting-title {
  color: #000000;
  font-family: 'Cinzel Decorative', cursive;
  text-decoration: none;
  margin-bottom: 7vh;
  margin-top: 0;
}


@media only screen and (min-width:300px) and (max-width:480px) {
  .painting {
    height: 20vh;
  }
}

@media only screen and (min-width:481px) and (max-width:768px) {
  .painting {
    height: 30vh;
  }
}


@media only screen and (min-width: 769px) and (max-width:1024px) {
  .painting {
    height: 30vh;
  }
}