/* input {
  background-color: #ffffff; */
  /* border: none; */
  /* color: #000000;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 600;
  height: 4vh;
} */

/* input[value=style] {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
} */